# default database
default: 
  type: mysql
  server: mysql
  user: appdb
  password: user
  database: appdb

# second database, for example for user management
usermanagement: 
  type: mysql
  server: mysql
  user: user
  password: user
  database: userdb

# additional setting as needed
mongodb: 
  type: mongo
  server: mongodb
  user: root
  password: root
  database: transdb
